# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# macOS-specific files
.DS_Store

# Cursor
.cursorrules

# Forge coverage
coverage
lcov.info

# Echidna
/echidna-corpus
coverage-*.md
/crytic-export
*/local.json
broadcast/local/*

# hardhat
node_modules
pnpm-lock.yaml
artifacts
cache_hardhat
typechain-types
scripts/local/*